form {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 36px;
}

input {
  width: 272px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 91px;
  padding: 8px 16px;
  background: #4E75FF;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #6C8CFF;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
}

.gallery li {
  width: calc(25% - 24px);
  border: 1px solid #808080;
}

.gallery img {
  width: 100%;
  height: auto;
  display: flex;
}

.info {
  font-family: Montserrat;
  font-size: 12px;
  display: flex;
  text-align: center;
}

.loader {
  display: none;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}